{{/* <!--start columns--> */}}
{{ $scratch := .global.global.global.Scratch }}
{{ $global_scratch := .global.global.global.Scratch }}
{{ $global_site := .global.global.global.Scratch.Get "site" }}


<div size="col-{{ .page.size | default "6" }}"{{ with .page.background_color }} style="background-color: {{ . }}"{{ end }} class="flex-container flex-item column col-{{ .page.size | default "6" }} {{ .page.class }}" selected-type="column">

<div{{ if .page.animate }} data-aos='{{ .page.animate }}' data-aos-offset='{{ .page.offset | default "0" }}'{{ end }} class="elements-wrapper{{ with .page.wrapper_class }} {{ . | lower }}{{ end }}">

{{ range $index, $elements := .page.elements }}

  {{ partial "components/elements.html" (dict "page" . "global" $ "element_index" $index ) }}

{{ end }}{{/* <!--end elements range--> */}}

</div>{{/* <!--end element wrapper--> */}}

</div>{{/* <!--end column--> */}}