{{/* <!--start columns--> */}}
{{ $scratch := .global.global.global.Scratch }}
{{ $global_scratch := .global.global.global.Scratch }}
{{ $global_site := .global.global.global.Scratch.Get "site" }}
{{ $cloud_base := $global_scratch.Get "cloudinary_base"}}
{{ $cloud_folder_name := $global_scratch.Get "cloudinary_folder" }}
{{ $cloud_folder := $cloud_folder_name }}
{{ $cloud_name  := $global_scratch.Get "cloudinary_name" }}

{{ $css := $global_scratch.Get "is_css"}}

{{ if $cloud_folder_name }}
  {{ $cloud_folder = print $cloud_folder_name "/" }}
{{ end }}

{{ if eq $css true }}
{{ range $index, $elements := .page.elements }}
  {{ partial "components/elements.html" (dict "page" . "global" $ "cloudinary_base" .cloudinary_base "element_index" $index ) }}
{{ end }}
{{ else if eq $css false }}
<div size="col-{{ .page.size | default "6" }}"{{ with .page.background_color }} style="background-color: {{ . }}"{{ end }} class="flex-container flex-item column col-{{ .page.size | default "6" }} v_content_ h_content_ col_bg" selected-type="column">

<div{{ if .page.animate }} data-aos="{{ .page.animate }}" data-aos-offset="data_aos_offset" data-aos-anchor="#section_id" {{ end }} style="" class="elements-wrapper {{ with .page.content_width }} maxwidth-{{ . | lower }}{{ end }}{{ with .page.p_top }} padding-{{ . | lower }}-top{{ end }}{{ with .page.p_bottom }} padding-{{ . | lower }}-bottom{{ end }}{{ with .page.text_align }} text-align-children-{{ . }}{{ end }}">

{{ range $index, $elements := .page.elements }}

{{ partial "components/elements.html" (dict "page" . "global" $ "cloudinary_base" .cloudinary_base "element_index" $index ) }}

{{ end }}{{/* <!--end elements range--> */}}

</div>{{/* <!--end element wrapper--> */}}

</div>{{/* <!--end column--> */}}
{{ end }}{{/* <!--is css--> */}}