{{- define "debug_bar" -}}
{{ $current_page := .UniqueID }}
<div class="debugging-bar">
  <div class="dbg-container">
    <ul class="pb-topLinks">
      <li class="pb-pageNavigator">
        <i class="fas fa-bars"></i>
      </li>
      <li>
        <img class="lazyload" data-src="/images/pb_logo.jpg">
      </li>
      <li class="pb-addItems">
          <i class="fas fa-plus"></i>
        </li> 
    </ul>
  
  <ul class="pb-dynamicArea">
      <li class="debugBarMenuTitle">Toggle Classes</li>
      <!-- <li>
        <label for="checkbox" class="checkbox__label">
        <input type="checkbox" name="agree" {{ $.Scratch.Get "debug_section" }}>
      </label>
      </li>
      <li>
        <label for="checkbox" class="checkbox__label">
        <input type="checkbox" name="agree" {{ $.Scratch.Get "debug_section" }}>
      </label>
      </li> -->
      <ul class="pb-populateValues"></ul>
      <ul class="pb-dragSourceList">
      
          <div class="dragMenu">
          <ul class="elementsDrag">
              <li data-tpl="header1" data-title="Header 1">
                Header 1
              </li>
              <li data-tpl="header2" data-title="Header 2">
                Header 2
              </li>
              <li data-tpl="header3" data-title="Header 3">
                Header 3
              </li>
              <li data-tpl="header4" data-title="Header 4">
                  Header 4
                </li>
              <li data-tpl="shortparagraph" data-title="Short paragraph">
                Short paragraph
              </li>
              <li data-tpl="mediumparagraph" data-title="Medium paragraph">
                Medium paragraph
              </li>
              <li data-tpl="largeparagraph" data-title="Large paragraph">
                Large paragraph
              </li>
              <li data-tpl="ullist" data-title="Ordened list">
                Ordened list
              </li>
              <li data-tpl="ollist" data-title="Unordened list">
                Unordened list
              </li>
              <li data-tpl="image" data-title="Image">
                Image
              </li>
              <li data-tpl="code" data-title="Code">
                Code
              </li>
          </ul>
          <ul class="rowsDrag">
              <li data-tpl="column" data-title="column">
                  Column
                  <div class="element-content">
                    <div class="column col-2">
                      <div class="elements-wrapper">
                        
                      </div>
                    </div>
                  </div>
              </li>  
          </ul>
        </div>
      </ul>
  </ul>
  

  <div class="pb-close">
      <i class="fas fa-times"></i>
  </div>
  
    <!--quick access btns in the footer-->
    <ul class="pb-quickBtns">
      <li class="pb-export__yml" alt="Enter Scratchpad Mode to test layout changes">
        <i class="fas fa-code"></i>
      </li>
      <li alt="image uploader" class="imageUpload">
        <i class="far fa-image"></i>
      </li>
      <li class="pb-editPage" alt="Edit this page in Forestry">
        <a target="_blank" href="">
          <i class="fas fa-edit"></i>
        </a>
      </li>
      <li class="pb-responsiveMode" alt="Enter responsive mode" class="d_screen-mobile-s">
        <i class="fa fa-mobile" aria-hidden="true"></i>
      </li>
      <li alt="save changes" class="pb-saveChanges">
        <i class="far fa-save"></i>
      </li>
      <li alt="save changes" class="pb-revertChanges">
        <i class="fas fa-undo"></i>
      </li>
      <li alt="save changes" class="pb-clearChanges">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </li>
    </ul>

  </div>
  </div><!--END SIDEBAR, START STANDALONE WIDGETS-->
    <!--pages drawer-->
  
  <div class="pb-pagesContainer">
      <ul class="pb-listPages">
      {{ range ( where .Site.Pages "Section" .Section ).Reverse }}
      {{ if .Params.meta.og_image }}
      
        {{ $drawer_img_src := resources.Get .Params.meta.og_image }}
        {{ $.Scratch.Set "drawer_img_thumbnail" ($drawer_img_src.Fill "150x" ) }}
      {{ end }}
      <li{{ if in $current_page .Title }} class="dbg-pages-menu-highlighted"{{ end }}>
        {{ if in $current_page .Title }}
        <span class="dbg-drawer-img-wrap">
          {{ else }}
          <a href="{{ .Permalink }}" class="dbg-drawer-img-wrap">
          {{ end }}
          <img class="lazyload" src="">
          
        {{ if in $current_page .Title }}
        </span>
        {{ else }}
        </a>
        {{ end }}
        <p class="dbg-pages-title">{{ .Title | truncate 20 }}</p>
      </li>
      
      {{ end }}
      </ul>
  
  </div><!--end pages pullout-->
  
  <!--start mobile preview panel-->
  <div class="mobile-preview-frame">
      <div class="m-bar m-bar-menu">
          <ul>
            <li class="d_screen-mobile-s"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile S</li>
            <li class="d_screen-mobile-m"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile m</li>
            <li class="d_screen-mobile-l"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile l</li>
            <li class="d_screen-tablet-s"><i class="fa fa-mobile" aria-hidden="true"></i> Tablet S</li>
            <li class="d_screen-tablet"><i class="fa fa-mobile" aria-hidden="true"></i> Tablet</li>
            <li class="d_screen-laptop"><i class="fa fa-mobile" aria-hidden="true"></i> laptop</li>
            <li class="d_screen-desktop-s"><i class="fa fa-mobile" aria-hidden="true"></i> Desktop S</li>
            <li class="d_screen-desktop-l"><i class="fa fa-mobile" aria-hidden="true"></i> Your Screen</li>
          </ul>
    </div>
  <iframe id="frame" sandbox="allow-same-origin allow-forms allow-scripts" seamless="" height="640" src="{{ .Permalink }}"></iframe>
  </div>
  

  
<div class="dbg_options_panel">
  <i class="fas fa-caret-down dbg_panel_close"></i>

  <div class='dbg_options_wrap'></div>
  
</div>
      <!--force using relative URL?-->
      
      <textarea class="exportYMLbox"></textarea>
      <div class="mediaUploads">
          {{ range ( where .Site.Pages "Section" "uploads" ).Reverse }}
          
          {{ range .Resources }}
            <img class="lazyload" src="{{ .Permalink }}">
          {{ end }}

          {{ end }}
        {{/* <!--if resource upload in content/uploads, perform basic image processing--> */}}
          {{/* <!--need to make these options manual--> */}}
          
      </div>
{{- end -}}