{{- define "debug_bar" -}}
{{ $current_page := .UniqueID }}
<div class="debugging-bar">
  <div class="dbg-container">
  <div class="dbg-logo">
    <img class="lazyload" data-src="/images/pb_logo.jpg">
  </div>
  
  <div class="dbg-pages dbg-btn">
      <ul>
        <li alt="Browse within the current section">{{ .Sections | htmlEscape | replaceRE "\\(.*?\\)" "" }} - {{ .Title }} <i class="fas fa-caret-up"></i></li>
      </ul>
    </div>
  
  <div class="dbg-btns-container">
  
  
  <div class="enable-debug dbg-btn">
    <ul>
    <li alt="Enter Preview Mode to view section information">
      <i class="fa fa-eye" aria-hidden="true"></i>
    </li>
  </ul>
  </div>
  
  <div class="export-yml dbg-btn">
    <ul>
        <li alt="Enter Scratchpad Mode to test layout changes">
            <i class="fas fa-code"></i>
        </li>
    </ul>
  </div>
  <div class="preview-link dbg-btn">
    <ul>
        <li alt="Edit this page in Forestry">
            <a target="_blank" href="">
              <i class="fas fa-edit"></i>
            </a>
        </li>
    </ul>
  </div>
  <div class="m-bar dbg-btn">
    <ul>
        <li alt="Enter responsive mode" class="d_screen-mobile-s">
          <i class="fa fa-mobile" aria-hidden="true"></i>
        </li>
    </ul>
  </div>
  <div class="m-bar dbg-btn">
      <ul>
          <li alt="save changes" class="saveChanges">
              <i class="far fa-save"></i>
          </li>
      </ul>
    </div>
    <div class="m-bar dbg-btn">
        <ul>
            <li alt="save changes" class="revertChanges">
                <i class="fas fa-undo"></i>
            </li>
        </ul>
      </div>
    <div class="m-bar dbg-btn">
        <ul>
            <li alt="save changes" class="clearChanges">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </li>
        </ul>
      </div>
      <div class="m-bar dbg-btn">
          <ul>
              <li alt="image uploader" class="imageUpload">
                  <i class="far fa-image"></i>
              </li>
          </ul>
        </div>
      
  
  </div><!--btn container-->
  
  <ul class="toggle_class_list">
      <li class="debugBarMenuTitle">Toggle Classes</li>
      <!-- <li>
        <label for="checkbox" class="checkbox__label">
        <input type="checkbox" name="agree" {{ $.Scratch.Get "debug_section" }}>
      </label>
      </li>
      <li>
        <label for="checkbox" class="checkbox__label">
        <input type="checkbox" name="agree" {{ $.Scratch.Get "debug_section" }}>
      </label>
      </li> -->
      <ul></ul>
  </ul>
  <ul class="dragSourceList">
      <li class="debugBarElementsTitle"><i class="fas fa-plus"></i></li>
      
      <div class="dragMenu">
      <ul class="elementsDrag">
          <li data-tpl="header1" data-title="Header 1">
            Header 1
          </li>
          <li data-tpl="header2" data-title="Header 2">
            Header 2
          </li>
          <li data-tpl="header3" data-title="Header 3">
            Header 3
          </li>
          <li data-tpl="header4" data-title="Header 4">
              Header 4
            </li>
          <li data-tpl="shortparagraph" data-title="Short paragraph">
            Short paragraph
          </li>
          <li data-tpl="mediumparagraph" data-title="Medium paragraph">
            Medium paragraph
          </li>
          <li data-tpl="largeparagraph" data-title="Large paragraph">
            Large paragraph
          </li>
          <li data-tpl="ullist" data-title="Ordened list">
            Ordened list
          </li>
          <li data-tpl="ollist" data-title="Unordened list">
            Unordened list
          </li>
          <li data-tpl="image" data-title="Image">
            Image
          </li>
          <li data-tpl="code" data-title="Code">
            Code
          </li>
      </ul>
      <ul class="rowsDrag">
          <li data-tpl="column" data-title="column">
              Column
              <div class="element-content">
                <div class="column col-2">
                  <div class="elements-wrapper">
                    
                  </div>
                </div>
              </div>
          </li>  
      </ul>
    </div>
  </ul>
  
  <!--pages drawer-->
  
  <div class="dbg-pages-container">
      <ul class="dbg-pages-menu">
      {{ range ( where .Site.Pages "Section" .Section ).Reverse }}
      {{ if .Params.meta.og_image }}
      
        {{ $drawer_img_src := resources.Get .Params.meta.og_image }}
        {{ $.Scratch.Set "drawer_img_thumbnail" ($drawer_img_src.Fill "150x" ) }}
      {{ end }}
      <li{{ if in $current_page .Title }} class="dbg-pages-menu-highlighted"{{ end }}>
        {{ if in $current_page .Title }}
        <span class="dbg-drawer-img-wrap">
          {{ else }}
          <a href="{{ .Permalink }}" class="dbg-drawer-img-wrap">
          {{ end }}
          <img class="lazyload" src="">
          
        {{ if in $current_page .Title }}
        </span>
        {{ else }}
        </a>
        {{ end }}
        <p class="dbg-pages-title">{{ .Title | truncate 20 }}</p>
      </li>
      
      {{ end }}
      </ul>
  
  </div>
  <div class="dbg-pages-menu-close">
      <i class="fas fa-times"></i>
    </div>
    <div class="dbg_preview_options_panel">
          <ul class="list_sections_data">
              
    
            
          </ul>
          </div>
    
  </div><!--end pages pullout-->
  
  <!--start mobile preview panel-->
  <div class="mobile-preview-frame">
      <div class="m-bar m-bar-menu">
          <ul>
            <li class="d_screen-mobile-s"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile S</li>
            <li class="d_screen-mobile-m"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile m</li>
            <li class="d_screen-mobile-l"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile l</li>
            <li class="d_screen-tablet-s"><i class="fa fa-mobile" aria-hidden="true"></i> Tablet S</li>
            <li class="d_screen-tablet"><i class="fa fa-mobile" aria-hidden="true"></i> Tablet</li>
            <li class="d_screen-laptop"><i class="fa fa-mobile" aria-hidden="true"></i> laptop</li>
            <li class="d_screen-desktop-s"><i class="fa fa-mobile" aria-hidden="true"></i> Desktop S</li>
            <li class="d_screen-desktop-l"><i class="fa fa-mobile" aria-hidden="true"></i> Your Screen</li>
          </ul>
    </div>
  <iframe id="frame" sandbox="allow-same-origin allow-forms allow-scripts" seamless="" height="640" src="{{ .Permalink }}"></iframe>
  </div>
  

  
<div class="dbg_options_panel">
  <i class="fas fa-caret-down dbg_panel_close"></i>

  <div class='dbg_options_wrap'></div>
  
      </div>
      <!--force using relative URL?-->
      
      <textarea class="exportYMLbox"></textarea>
      <div class="mediaUploads">
          {{ range ( where .Site.Pages "Section" "uploads" ).Reverse }}
          
          {{ range .Resources }}
            <img class="lazyload" src="{{ .Permalink }}">
          {{ end }}

          {{ end }}
        {{/* <!--if resource upload in content/uploads, perform basic image processing--> */}}
          {{/* <!--need to make these options manual--> */}}
          
      </div>
{{- end -}}