.h_content_center {
	-webkit-justify-content: center;
	justify-content: center;
}
.h_content_center img {
	margin: 0 auto;
  display: flex;
}
.h_content_start {
	-webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.h_content_end {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
.h_content_space-between {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.h_content_space-around {
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.v_content_start {
	-webkit-align-items: center;
	align-items: center;
}
.v_content_center {
	-webkit-align-items: center;
	align-items: center;
}
.v_content_end {
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.column.h_content_center {
	-webkit-align-items: center;
	align-items: center;
}
.column.h_content_start {
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
.column.h_content_end {
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.column.v_content_center {
	-webkit-justify-content: center;
	justify-content: center;
}
.column.v_content_start {
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}
.column.v_content_end {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.h_align_self_start {
	-webkit-justify-self: flex-start;
	justify-self: flex-start;
}

.elements-wrapper {
  width: 100%;
}
