<!--.global $-->
<!--.page .-->
{{ $debug_enabled := $.global.Scratch.Get "debug_enabled" }}

<!--define the $scratch var-->
{{ $scratch := .global.Scratch }}

<!--if the user deletes the preset container value, default to the wide value-->

<!--define the default row width-->
<!--container value is defined-->
{{ $scratch.Set "device_break" "break-tablet" }}
<!--set global section options for the content alignment-->
{{ $h_content := .page.h_content | default "space-between" }}
{{ $scratch.Set "h_content" $h_content }}
{{ $v_content := .page.v_content | default "center" }}
{{ $scratch.Set "v_content" $v_content }}
{{ $scratch.Set "mobile_order" "" }}
{{ $scratch.Set "page_slug" .page_slug }}

<!--display the WYSIYG editor depending on the front matter position of the template named "content"-->

{{ if in .page.template "content" }}

<div class="{{ .page.container_size | default "container" }} content-editor">
{{ if eq $debug_enabled true }}
    <div class="debug-element-name">
        <ul>
            <li>Content Editor</li>
        </ul>
    </div>   
{{ end }}
    {{ .global.Content }}
</div>
{{ end }}

<!--loop of normal sections-->

<!--ben remove this if debug is off-->
{{ if eq $debug_enabled true }}
{{ partial "rows/dbg-menu.html" (dict "page" . "global" $ ) }}
{{ end }}
<!--ben remove this if debug is off-->

        
{{ if .page.rows }}
{{ range .page.rows }}

<div id="row" class="row flex-container h_content_{{ .h_content | default "space-between" }} {{ .container_size | default "container" }} padding-{{ .row_space | default "none" }}-bottom break-{{ .break | default "tablet" }} contain-tablet wrap">

{{ if .cols }}
{{ range .cols }}
    {{ if in .template "column" }}
        {{ if .v_content }}
            {{ $scratch.Set "v_content" .v_content }}
        {{ end }}
        {{ if .h_content }}
            {{ $scratch.Set "h_content" .h_content }}
        {{ end }}
        {{ if .text_align }}
            {{ $col_text_align := .text_align | lower }}
            {{ $scratch.Set "col_text_align" $col_text_align }}
        {{ end }}
        {{ range .options }}
            {{ if in .template "options"}}
                {{ if .mobile_order }}
                {{ $mobile_order := print "mobile_order-" .mobile_order }}
                {{ $scratch.Set "mobile_order" $mobile_order }}
                {{ end }}
            {{ end }}
        {{ end }}
<!--start the column-->
<div data-column-size="col-{{ .size | default "6" }}"{{ if .background_color }} style="background-color: {{ .background_color }}"{{ end }} class="flex-container flex-item column col-{{ .size | default "6" }} v_content_{{ $scratch.Get "v_content" }}{{ if .h_content }} h_content_{{ $scratch.Get "h_content" }}{{ end }}{{ if .background_color }} col_bg{{ end }} {{ $scratch.Get "mobile_order" }}" >    
    

{{ if eq $debug_enabled true }}
<!--ben remove this if debug is off-->
{{ partial "cols/dbg-menu.html" (dict "page" . "global" $ ) }}
<!--ben remove this if debug is off-->
{{ end }}

        {{ range .elements }}
            {{ if in .template "options" }}
                {{ if .background_color }}
                {{ $scratch.Set "elements_background" .background_color }}
                {{ end }}
            {{ end }}
        {{ end }}
        
        
        {{ $top_section := $.global.Scratch.Get "section_index" }}
        {{ if eq $top_section 1 }}
            {{ $scratch.Set "data_aos_offset" "-200" }}
        {{ else }}
            {{ $scratch.Set "data_aos_offset" "200" }}
        {{ end }}
        <!--element wrapper-->
        <div{{ if .animate }} data-aos="{{ .animate }}" data-aos-offset="{{ $scratch.Get "data_aos_offset" }}" data-aos-anchor="#{{ $.global.Scratch.Get "section_id" }}"{{ end }} style="background-color: {{ $scratch.Get "elements_background" }}" class="elements-wrapper {{ if .content_width }} maxwidth-{{ .content_width | lower }}{{ end }}{{ if .padding_top }} padding-{{ .padding_top | lower }}-top{{ end }}{{ if .padding_bottom }} padding-{{ .padding_bottom | lower }}-bottom{{ end }}{{ if .text_align }} text-align-children-{{ .text_align }}{{ end }}">
        
{{ if eq $debug_enabled true }}
<!--enable debug for elements-->
    <div class="debug-element-name">
        <ul>
        {{ range $index, $debug_element_list := .elements }}
        {{ $new_index := add $index 1 }}
        {{ $human_element := .template | humanize }}
                <li>{{ print $new_index "-" $human_element }}</li>
        {{ end }}
        </ul>
    </div>   
<!--end debug for elements-->
{{ end }}


        {{ range $index, $elements := .elements }}

        {{ if in .template "title" }}
        
        {{ print "<" | safeHTML }}{{ print .tag }}{{ if or (or (isset . "text_align") (isset . "color" )) }} class="{{ if isset . "text_align" }}text-{{ .text_align }}{{ end }}{{ if isset . "color" }} color-{{ .color }}{{ end }}"{{ end }}{{ if isset . "font_color_hex" }} style="color: {{ .font_color_hex }};"{{ end }}{{ print ">" | safeHTML }}{{ .title }}{{ print "</" | safeHTML }}{{ print .tag }}{{ print ">" | safeHTML }}
            
        {{ end }}

        {{ if in .template "text" }}
        <div class="text-wrapper {{ if isset . "text_align" }}text-align-children-{{ .text_align }}{{ end }}">
            {{ .text | safeHTML }}
        </div>
        {{ end }}

        {{ if in .template "html" }}
        <div class="html-wrapper">
            {{ .html | safeHTML }}
        </div>
        {{ end }}

{{ if in .template "logo" }}

<div class="logo flex-container v_content_center">
        {{ if and (eq .logo_title_image true) ( .image ) }}
            <a class="logo-a flex-container v_content_center" href="{{ if .url }}{{ .url }}{{ else }}{{ $.global.Site.BaseURL }}{{ end }}">
            <img src="{{ .image }}"> 
            <span class="logo-title">{{ if .title }}{{ .title | safeHTML }}{{ else }}{{ $.Site.Title }}{{ end }}
            </span>
            </a>
        {{ else if .image }}
        <a class="flex-container v_content_center" href="{{ if .url }}{{ .url }}{{ else }}{{ .Site.BaseURL }}{{ end }}">
            <img src="{{ .image }}">
        </a>
        {{ end }}
        </div>
{{ end }}

{{ if in .template "header-menu" }}
<!--update this button in the header-->

<!--the scope is changed to global-->
        
        <nav id="desktop-menu" class="flex-container v_content_{{ $scratch.Get "v_content" }} h_content_{{ $scratch.Get "h_content" }}">
        {{ range $.global.Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="with-sub">        
            <a class="nav-link" href="{{ .URL }}">{{ .Name }} <svg width="9" height="5" viewBox="0 0 9 5">
                    <polyline class="sub-arrow" fill="none" stroke="#999" points=".5 .5 4.5 4.5 8.5 .5"></polyline>
                  </svg></a>
            
            <ul class="sub">
            {{ range .Children }}
                <li>
                    <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                </li>
            {{ end }}
            </ul>
            
        </li>
        {{ else }}
        <li>
                <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
    
        {{ end }}
    </nav>
    
    <button class="hamburger hamburger--collapse-r" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
    </button>
    <div id="mobile-menu" class="contain-tablet">
        <div>
            {{ range $.global.Site.Menus.main }}
            {{ if .HasChildren }}
            <li class="with-sub">        
                <a class="nav-link" href="{{ .URL }}">{{ .Name }} <svg width="9" height="5" viewBox="0 0 9 5">
                        <polyline class="sub-arrow" fill="none" stroke="#999" points=".5 .5 4.5 4.5 8.5 .5"></polyline>
                      </svg></a>
                
                <ul class="sub">
                {{ range .Children }}
                    <li>
                        <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                {{ end }}
                </ul>
                
            </li>
            {{ else }}
            <li>
                    <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        
            {{ end }}
        </div>
    </div>
    <script>
    var forEach=function(t,o,r){if("[object Object]"===Object.prototype.toString.call(t))for(var c in t)Object.prototype.hasOwnProperty.call(t,c)&&o.call(r,t[c],c,t);else for(var e=0,l=t.length;l>e;e++)o.call(r,t[e],e,t)};
    var hamburgers = document.querySelectorAll(".hamburger");
    var mobilemenu = document.querySelectorAll("header #mobile-menu");
    if (hamburgers.length > 0) {
    forEach(hamburgers, function(hamburger) {
        hamburger.addEventListener("click", function() {
        this.classList.toggle("is-active");
        $("header #mobile-menu").toggle("is-active");
        }, false);
    });
    }
    </script>
    {{ end }}

<!--end header-->

{{ if in .template "accordian" }}

{{ $accordiancss := resources.Get "scss/accordian.scss" |resources.ExecuteAsTemplate "style.accordian.scss" . | toCSS |postCSS | minify | fingerprint }}

{{ $accordianjs := resources.Get "js/async/accordian.js" }}
{{ $jquery := resources.Get "js/vendor/jquery.min.js" | minify }}
{{ $jquery.Permalink }}

<script type="text/javascript">
    fetchInject([
      '{{ $accordianjs.Permalink }}',
      '{{ $accordiancss.Permalink }}'
    ], fetchInject([
      '{{ $.global.Scratch.Get "vendor" }}',
    ]))
</script>
        
<div class="accordion">
{{ range $index, $accordian_sections := .sections }}
<div class="accordion-item">
    <a class="accordion-title" href="#accordion-{{ $index }}">{{ .title }}</a>
    <div id="accordion-{{ $index }}" class="accordion-content">
        {{ .text | safeHTML }}
    </div>
</div>
{{ end }}
</div>
{{ end }}
<!--end accordian element-->

<!--start button element-->

{{ if in .template "button" }}
    <!--set default button and conditional styles for non default-->
    {{ $button_id := $scratch.Get "section_id" }}
<!--add the button style-->

    {{ $button_preset := $.global.Site.Data.layouts.buttons.primary_button }}

    {{ $scratch.Set "button_preset" $button_preset }}

    {{ if in .button_type "primary" }}
        {{ $button_preset := $.global.Site.Data.layouts.buttons.primary_button }}
        {{ $scratch.Set "button_preset" $button_preset }}
    {{ end }}
    {{ if in .button_type "alternate"}}
        {{ $button_preset := $.global.Site.Data.layouts.buttons.alternate_button }}
        {{ $scratch.Set "button_preset" $button_preset }}
    {{ end }}

    {{ $button_preset_type := $scratch.Get "button_preset" }}
    <div class="col-12 flex-item flex-container h_content_{{ $scratch.Get "h_content" | default "center" }}">    
    <a id="{{ print $button_id "-" $index }}" class="button-fill {{ $button_preset_type.animation_style }}" href="{{ .link }}"><span>{{ .text }}{{ if in $button_preset_type.animation_style "arrow" }}<svg class="color-white" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <g>
            <line fill="none" stroke="#ffffff" stroke-width="6" stroke-miterlimit="10" x1="0" y1="32" x2="63" y2="32"></line>
        </g>
        <polyline fill="none" stroke="#ffffff" stroke-width="6" stroke-linejoin="bevel" stroke-miterlimit="10" points="54,41 63,32 
                    54,23 "></polyline>
        </svg>{{ end }}</span></a>
        </div>
{{ end }}
<!--end button element-->
<!--start slider element-->
{{ if in .template "carousel"}}
{{- $flickityjs := resources.Get "js/plugins/flickity.pkgd.min.js" | minify -}}

{{ $flickitycss := resources.Get "scss/carousel.scss" | resources.ExecuteAsTemplate "style.carousel.scss" . | toCSS |postCSS | minify }}

<script type="text/javascript">
    fetchInject([
      '{{ $flickityjs.Permalink }}',
      '{{ $flickitycss.Permalink }}'
    ], fetchInject([
      '{{ $.global.Scratch.Get "vendor" }}',
    ]))
</script>
<div class="flick-slider" data-flickity='{ "{{ print "wraparound" }}": {{ print "true" }}, "{{ print "lazyload" }}": {{ print "true" }}, "{{ print "pageDots" }}": {{ print "false" }} }'>
    <div class="carousel-cell column-2 col-2">
            <img class="lazyload" data-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
    </div>
    <div class="carousel-cell column-2">
            <img class="lazyload" data-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade" />
    </div>
    <div class="carousel-cell column-2">
            <img class="lazyload" data-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle" />
    </div>
    <div class="carousel-cell column-2">
            <img class="lazyload" data-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose" />
    </div>
    <div class="carousel-cell column-2">
            <img class="lazyload" data-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" alt="contrail" />
    </div>
    <div class="carousel-cell column-2">
            <img class="lazyload" data-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" alt="golden hour" />
    </div>
</div>
<style>
.flickity-viewport {
    overflow: visible;
}
.carousel-cell {
  width: 40%;
  height: 400px;
  margin-right: 10px;
}
</style>

{{ end }}
<!--end carousel-->

<!--start list element-->
{{ if in .template "list" }}

    {{ if .image }}
        {{ $scratch.Set "list-img" .image }}
    {{ end }}

    {{ if .size }}
        {{ $list_img_size := print " col-" .size }}
        {{ $scratch.Set "list_img_size" $list_img_size }}
    {{ else }}
        {{ $scratch.Set "list_img_size" " col-2" }}
    {{ end }}

    {{ if .content_width }}
        {{ $list_width := print " maxwidth-" .content_width | lower}}
        {{ $scratch.Set "list_width" $list_width }}
    {{ end }}

    {{ if .v_content }}
        {{ $list_content_v := print " v_content_" .v_content | lower }}
        {{ $scratch.Set "list_content_v" $list_content_v }}
    {{ else }}
        {{ $scratch.Set "list_content_v" " v_content_center" }}
    {{ end }}

    {{ if .h_content }}
        {{ $list_img_h := print " h_content_" .h_content | lower }}
        {{ $scratch.Set "list_img_h" $list_img_h }}
    {{ else }}
        {{ $scratch.Set "list_content_h" "h_content_center" }}
    {{ end }}

    {{ if .h_self }}
        {{ $list_hs := print " justify-self-" .h_self | lower }}
        {{ $scratch.Set "list_hs" $list_hs }}
    {{ else }}
        {{ $scratch.Set "list_hs" "justify-self-start" }}
    {{ end }}

    {{ if .padding_bottom }}
        {{ $list_space := print " padding-" .padding_bottom "-bottom" | lower }}
        {{ $scratch.Set "list_space" $list_space }}
    {{ end }}

    {{ $list_height := .height }}

{{ if .image }}
    {{ range .list_items }}
        <!--for a list item with an img override, change the image var-->
        {{ if .image }}
            {{ $scratch.Set "list-img" .image }}
        {{ end }}
        {{ if gt $list_height 50 }}
        <style>
        
            @media (max-width: 480px) {
            .list-img img {
                height: 50px;
            }
        }
        
        </style>
        {{ end }}
    <div class="flex-container{{ $scratch.Get "list_content_v" }}{{ $scratch.Get "list_space" }}{{ $scratch.Get "list_width" }}{{ $scratch.Get "list_hs" }}">
        <div class="flex-container flex-item list-img{{ $scratch.Get "list_img_size" }}{{ $scratch.Get "list_img_h" }}">
            <img{{ if $list_height }} style="height: {{ $list_height }}"{{ end }} data-src="{{ $scratch.Get "list-img" }}" class="lazyload">
        </div>

        <div class="list-text text-left col-10">
                {{ if .text }}{{ .text | safeHTML }}{{ end }}
        </div>
    </div>
    {{ end }}<!--range-->
{{ end }}<!--image-->
{{ else }}<!--list else-->
{{ range .list_items }}
<div class="flex-container">    
        <div class="list-text col-12">
            {{ if .text }}{{ .text | safeHTML }}{{ end }}
        </div>
    </div>
{{ end }}<!--range-->

    <!--reset scratch-->
{{ if .image }}
    {{ $scratch.Set "list-img" .image }}
{{ end }}
{{ end }}<!--end if template list-->
<!--end list element-->

<!--start list element-->
{{ if in .template "image" }}
{{ $upload_image := resources.Get .image }}

<!--do not lazy load image if in the first two sections-->
{{ if le ($.global.Scratch.Get "section_index") 1 }}
<img src="{{ $upload_image.Permalink }}">
{{ else }}
<img class="lazyload" data-src="{{ $upload_image.Permalink }}">
{{ end }}

{{ end }}

<!--image mobile sizes and lazy load options http://afarkas.github.io/lazysizes/#examples-->
<!--use resources function to generate the images-->
<!--<img
	alt=""
	sizes="(min-width: 1000px) 930px, 90vw"
	data-srcset="small.jpg 500w,
		medium.jpg 640w,
		big.jpg 1024w"
	data-src="medium.jpg"
	class="lazyload" />-->

<!--end list element-->

<!--start contact form element-->
{{ if in .template "contact"}}

<form name="{{ $scratch.Get "page_slug" }}" method="POST" netlify class="contact-base flex-container flex-item wrap h_content_space-between">
{{ range $index, $contact_fields := .contact_form_fields }}
{{ if .template }}
    {{ if in .template "drop" }}
    <div class="col-{{ .size | default "12" }} flex-item">
    <label>{{ .label }}:
    <select name="dropdown" tabindex="1">
        {{ range $index, $drop_options :=  .options }}
        <option value="{{ . }}">{{ . }}</option>

        {{ end }}
    </select>
    </label>
    </div>
    {{ end }}

    {{ if in .template "radio" }}
    <div class="col-{{ .size | default "12" }} flex-item flex-container">
            <input type="radio" id="contactChoice1"
             name="contact" value="email">
            <label for="contactChoice1">Email</label>
        
            <input type="radio" id="contactChoice2"
             name="contact" value="phone">
            <label for="contactChoice2">Phone</label>
        
            <input type="radio" id="contactChoice3"
             name="contact" value="mail">
            <label for="contactChoice3">Mail</label>
          </div>
    {{ end }}

    {{ if in .template "text" }}
        {{ range $index, $text_options :=  .options }}
    <div class="col-{{ .size | default "12" }} flex-item">
       
        <label>{{ .label }} {{ if eq .field_type "text area" }}<textarea id="{{ print .label "-" $index | lower | urlize }}" name="message"></textarea>{{ else }}<input id="{{ print .label "-" $index | lower | urlize }}" type="text" name="{{ print .label "-" $index | lower | urlize }}" />{{ end }}
        </label>
    </div>
        {{ end }}
    {{ end }}
    
{{ end }}<!--range contact_fields-->
{{ else }}<!--range-->

<!--show default set fields if there are no custom fields-->
<div class="col-12 flex-item"><label>Your Name: <input type="text" name="name" /></label></div>
<div class="col-12 flex-item"><label>Your Email: <input type="email" name="email" /></label></div>
<div class="col-12 flex-item">
<label>Your Email: 
<div class="select" tabindex="1">
        <input class="selectopt" name="test" type="radio" id="opt1" checked>
        <label for="opt1" class="option">Oranges</label>
        <input class="selectopt" name="test" type="radio" id="opt2">
        <label for="opt2" class="option">Apples</label>
        <input class="selectopt" name="test" type="radio" id="opt3">
        <label for="opt3" class="option">Grapefruit</label>
        <input class="selectopt" name="test" type="radio" id="opt4">
        <label for="opt4" class="option">Bananas</label>
        <input class="selectopt" name="test" type="radio" id="opt5">
        <label for="opt5" class="option">Watermelon</label>
        </div>
</label>
</div>
<div class="col-12 flex-item"><label>Message: <textarea name="message"></textarea></label></div>

{{ end }}<!--if template-->   
<div class="col-12 flex-item"><button class="button-fill" type="submit">Send</button></div> 
</form>

{{ end }}<!--if template contact-->
<!--end contact form element-->

        {{ end }}
        </div><!--elements wrapper-->
        <!--reset scratch-->
        {{ $scratch.Set "elements_background" "none" }}
    </div>
        
    {{ end }}<!--column range-->
    {{ end }}<!--column if-->

{{ end }}<!--cols range-->
</div>
{{ end }}<!--cols if-->

{{ end }}<!--row range-->

{{ $scratch.Set "h_content" $h_content }}
{{ $scratch.Set "v_content" $v_content }}
<!--copy above code for row2-->