.inspect-mode .debugging-bar {
  transform: translate(0%,0%); 
}
.debugging-bar {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  width: 15%;
  max-width: 100%;
  min-height: 40px;
  height: 100%;
  z-index: 9999;
  font-family: montserrat,sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  transform: translate(100%,0%);
}
.debugging-bar .dbg-container {
  width: 100%;
  padding: 0px 10px;
  max-width: 200p;
  align-content: center;
  display: inline-grid;
  position: relative;
  height: 100%;
  background: #3a3a3cfb;
  z-index: 75;
  grid-gap: 10px;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 100%;
  box-sizing: border-box;
}
.debugging-bar .pb-topLinks {
  grid-column-start: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0px;
}
.debugging-bar .pb-topLinks li:hover {
  cursor: pointer;
}
.debugging-bar .dbg-pages:hover i {
  transform: translate(-1px,-5px);
  font-size: 14px;
  transition: transform 1s, font-size .4s;
}
.debugging-bar .dbg-pages.active i:before {
  content: "\f0d7";
}
.debugging-bar .dbg-pages.active i {
  transform: translate(-1px,-5px);
  font-size: 14px;
}
.debugging-bar .dbg-pages.active:hover i {
  transform: translate(1px,5px);
  font-size: 12px;
  transition: transform 1s, font-size .4s;
}
.debugging-bar .dbg-pages i {
  font-size: 10px;
  color: #ddd;
  margin-left: 15px;
}
.debugging-bar .dbg-btns-container {
  margin: 0 auto;
}
.debugging-bar .dbg-btns-container .dbg-btn {
  margin-left: 12px;
  margin-right: 12px;
  padding: 0 5px;
  height: 50px;
  align-items: center;
  display: flex;
}
.debugging-bar .dbg-btns-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
}
.debugging-bar li[alt]:hover:before {
  content: attr(alt);
  height: 80px;
  width: 160px;
  background: #000000;
  border-bottom: 2px solid #000000;
  color: #fff;
  position: absolute;
  font-size: 12px;
  padding: 4px;
  transform: translateX(-50%);
  top: -80px;
  left: 50%;
  text-align: center;
}
.debugging-bar li[alt]:hover:after {
  content: '';
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #000000;
  border-width: 10px;
}
.debugging-bar .dbg-btn.active li[alt]:after {
  display: none;
}
.debugging-bar .dbg-btn.active li[alt]:before {
  display: none;
}
.debugging-bar .dbg-btn.active, .debugging-bar .dbg-btn.active a, .debugging-bar .dbg-btn.active i {
  color: #000;
}
.debugging-bar .pb-dynamicArea, .debugging-bar .pb-dragSourceList {
  position: relative;
  list-style: none;
}
.debugging-bar .pb-dynamicArea ul {
  display: flex;
  flex-direction: column;
  background: #000000;
  color: #ffffff;
}
.debugging-bar .pb-dynamicArea li.active {
  color: yellow;
}
.debugging-bar .pb-dragSourceList .dragMenu, .debugging-bar .pb-dynamicArea .pb-populateValues {
  display: none;
}
.debugging-bar .pb-dragSourceList.active .dragMenu, .debugging-bar .pb-dynamicArea.active > .pb-populateValues {
  display: flex;
  flex-direction: column;
}
.debugging-bar {
  ul {
    list-style: none;
  }
  .pb-dynamicArea {
    padding: 0px;
  }
  .pb-dynamicArea.active {
    overflow-y: auto;
  }
  .pb-dynamicArea::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
  }
  .pb-dynamicArea::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }
  .pb-dynamicArea::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
  }
  .pb-quickBtns {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    color: #ffffff;
  }
  .pb-quickBtns a, .pb-quickBtns li, .pb-quickBtns i {
    color: #ffffff;
  }
  .pb-quickBtns li:hover {
    cursor: pointer;
  }
  .dragMenu .element-content {
    visibility: hidden;
    display: none;
  }
  .pb-dynamicArea ul {
    padding: 0px;
  }
  .dragMenu li {
    border: 1px solid #fff;
    margin-bottom: 10px;
    padding: 4px;
  }
}