.debugging-bar {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  min-height: 40px;
  height: 5%;
  z-index: 9999;
  font-family: $debug-font-family;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.debugging-bar .dbg-container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  align-content: center;
  display: inline-grid;
  position: relative;
  height: 100%;
  background: rgba(58, 58, 60, 0.985);
  z-index: 75;
  grid-gap: 10px;
  grid-template-columns: 1fr 4fr 10fr 5fr;
}
.debugging-bar .dbg-logo {
  grid-column-start: 1;
}
.debugging-bar .dbg-pages:hover i {
  transform: translate(-1px,-5px);
  font-size: 14px;
  transition: transform 1s, font-size .4s;
}
.debugging-bar .dbg-pages.active i:before {
  content: "\f0d7";
}
.debugging-bar .dbg-pages.active i {
  transform: translate(-1px,-5px);
  font-size: 14px;
}
.debugging-bar .dbg-pages.active:hover i {
  transform: translate(1px,5px);
  font-size: 12px;
  transition: transform 1s, font-size .4s;
}
.debugging-bar .dbg-pages i {
  font-size: 10px;
  color: #ddd;
  margin-left: 15px;
}
.debugging-bar .dbg-btns-container {
  margin: 0 auto;
}
.debugging-bar .dbg-btns-container .dbg-btn {
  margin-left: 12px;
  margin-right: 12px;
  padding: 0px 5px 0px 5px;
  height: 100%;
  align-items: center;
  display: flex;
}
.debugging-bar .dbg-btns-container {
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
}
/*button styles for debugger*/
.debugging-bar li[alt]:hover:before {
  content: attr(alt);
  height: 80px;
  width: 160px;
  background: #000000;
  border-bottom: 2px solid #000000;
  color: #fff;
  position: absolute;
  font-size: 12px;
  padding: 4px;
  transform: translateX(-50%);
  top: -80px;
  left: 50%;
  text-align: center;
}
.debugging-bar li[alt]:hover:after {
  content: '';
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #000000;
  border-width: 10px;
}
.debugging-bar .dbg-btn.active li[alt]:after {
  display: none;
}
.debugging-bar .dbg-btn.active li[alt]:before {
  display: none;
}
.debugging-bar .dbg-btn.active, .debugging-bar .dbg-btn.active a, .debugging-bar .dbg-btn.active i {
  color: #000;
}
.debugging-bar .toggle_class_list {
  position: relative;
  list-style: none;
}
.debugging-bar .toggle_class_list > ul {
  display: flex;
  flex-direction: column;
  background: #000000;
  color: #ffffff;
  overflow-y: scroll;
  height: 500px;
  position: absolute;
  bottom: 15px;
  list-style: none;
}
.debugging-bar .toggle_class_list li.active {
  color: yellow;
}