{{/* <!--if menu--> */}}
{{ $env := $.Scratch.Get "env" }}
{{ $context := $.Site.Data.pb_fields }}

{{/* <!--if menu--> */}}
{{ $pageid := $.File.UniqueID }}

{{/* <!-- Get the mode --> */}}
{{ $genType := $.Scratch.Get "generatorType" }}
{{ $mode := $genType }}
{{ $gen_css := false }}
{{ $gen_criticalcss := false }}
{{ $gen_noncriticalcss := false }}
{{ $gen_pagehtml := false }}
{{ $gen_menu_buttons := false }}
{{ $gen_menu_content := false }}

{{ if eq $mode "gen_criticalcss" }}
  {{ $gen_css = true }}
  {{ $gen_criticalcss = true }}
{{ else if eq $mode "gen_noncriticalcss" }}
  {{ $gen_css = true }}
  {{ $gen_noncriticalcss = true }}
{{ else if eq $mode "gen_pagehtml" }}
  {{ $gen_pagehtml = true }}
{{ else if eq $mode "gen_menu_buttons" }}
  {{ $gen_menu_buttons = true }}
{{ else if eq $mode "gen_menu_content" }}
  {{ $gen_menu_content = true }}
{{ end }}
{{/* <!--if html , context is page params--> */}}

{{ range $index, $value := $context.stacks }}

{{ if $gen_menu_buttons }}
<button{{ with .template }} pb-template-add="{{ . }}"{{ end }}>{{ .template }}</button>
{{ end }}


<section id="{{ with .id }}{{ . }}{{ else }}{{ $index }}{{ end }}"{{ with .template }} pb-template="{{ . }}"{{ end }} class="{{ .class }}">


{{ partial "pancakesBuilder/app/generator/row.html" (dict "page" . "global" $) }}
  

</section>
{{ end }}