{{/* <!--if menu--> */}}
{{ $env := $.Scratch.Get "env" }}

{{ $scratch := $.Scratch }}
{{ $mode := $.Scratch.Get "generatorType" }}

{{ $scratch.Set "context" $.Site.Data.pb_fields }}
{{ if eq $mode "gen_pagehtml" }}
  {{ $scratch.Set "context" .Params }}
{{ else if eq $mode "gen_menu_content" }}
  {{ $scratch.Set "context" $.Site.Data.pb_fields }}
{{ end }}

{{ $context := $scratch.Get "context" }}
{{/* <!--if menu--> */}}
{{ $pageid := $.File.UniqueID }}

{{/* <!-- Get the mode --> */}}


{{ $scratch.Set "gen_css" false }}
{{ $scratch.Set "gen_criticalcss" false }}
{{ $scratch.Set "gen_noncriticalcss" false }}
{{ $scratch.Set "gen_pagehtml" false }}
{{ $scratch.Set "gen_menu_buttons" false }}
{{ $scratch.Set "gen_menu_content" false }}

{{ if eq $mode "gen_criticalcss" }}
  {{ $scratch.Set "gen_css" true }}
  {{ $scratch.Set "gen_criticalcss" true }}
{{ else if eq $mode "gen_noncriticalcss" }}
  {{ $scratch.Set "gen_css" true }}
  {{ $scratch.Set "gen_noncriticalcss" true }}
{{ else if eq $mode "gen_pagehtml" }}
  {{ $scratch.Set "gen_pagehtml" true }}
{{ else if eq $mode "gen_menu_buttons" }}
  {{ $scratch.Set "gen_menu_buttons" true }}
{{ else if eq $mode "gen_menu_content" }}
  {{ $scratch.Set "gen_pagehtml" true }}
{{ end }}
{{/* <!--if html , context is page params--> */}}

{{ with $context.stacks }}

{{ partial "pancakesBuilder/app/generator/section.html" (dict "page" . "global" $) }}

{{ end }}