{{ $scratch := .global.global.Scratch }}

{{ with .page.rows }}
    {{ range $index, $value := . }}

        {{ if $scratch.Get "gen_menu_buttons" }}
        <button{{ with .template }} data-pb-template-level="2" data-pb-template-add="{{ . }}"{{ end }}>{{ .template }}</button>

        {{ partial "pancakesBuilder/app/generator/column.html" (dict "page" . "global" $) }}
        {{ end }}


        {{ if $scratch.Get "gen_criticalcss" }}

        {{/* <!--Start row, but maybe not needed if we decide to only insert Css at the section level --> */}}
        {{ partial "pancakesBuilder/app/generator/column.html" (dict "page" . "global" $) }}
        {{ end }}


        {{ if $scratch.Get "gen_pagehtml" }}
        <div id='{{ with .id }}{{ . }}{{ else }}{{ $index }}{{ end }}' class="{{ .class }}"{{ with .template }} data-pb-template="{{ . }}"{{ end }}{{ with .id }} data-pb-id="{{ . }}"{{ end }}{{ with .class }} data-pb-class="{{ . }}"{{ end }} data-pb-template-level="2">

            {{ partial "pancakesBuilder/app/generator/column.html" (dict "page" . "global" $) }}

        </div>
        {{ end }}

    {{ end }}
    
  {{ end }}