//$row: '[pb-template="row"]';
.pb-template-contentWrapper {
  display: none;
}
.editing--mode {
  width: var(--container-editor-width);
}
.editing--mode {
  main {
    min-height: 200px;
    background: #efefef;
  }
  main {
    [data-pb-template-level="section"],
    [pb-template-level="row"],
    [pb-template-level="column"] {
      position: relative;
      overflow-Y: visible;
    }
    [data-pb-template-level="section"] {
      min-height: 150px;
      border: 1px dotted red;
    }
    [data-pb-template-level="section"]:hover {
      border: 1px solid red;
      z-index: 54;
    }
    [pb-template-level="row"] {
      min-height: 150px;
      border: 1px dotted blue;
    }
    [pb-template-level="row"]:hover {
      border: 1px solid blue;
      z-index: 55;
    }
    [pb-template-level="column"] {
      min-height: 150px;
      border: 1px dotted green;
    }
    [pb-template-level="column"]:hover {
      border: 1px solid green;
      z-index: 56;
    }
    
    
  }
  .fa-move {
    height: 30px;
    position: absolute;
    top: -30px;
    left: 0px;
    background: #fff;
    padding: 5px;
    z-index: 9999;
  }
  .fa-move:hover {
    cursor: grab;
  }
  .gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 1;
    pointer-events: none;
    overflow: hidden;
  }
  /* in-flight clone */
  button.gu-mirror {
    opacity: 1;
    pointer-events: none;
    overflow: hidden;
  }
  /* added to the source element while its mirror is dragged */
  button.gu-transit {
    opacity: 1;
    display: block;
  }
  button[data-pb-template-level="section"].gu-transit {
    background: red;
    height: 100px;
    min-height: 100px;
    width: 320px;
    max-width: 100%;
    margin: 0 auto;
  }
  button[pb-template-level="row"].gu-transit {
    background: blue;
    height: 100px;
    min-height: 100px;
    width: 320px;
    max-width: 100%;
    margin: 0 auto;
  }
  button[pb-template-level="column"].gu-transit {
    background: green;
    height: 100px;
    min-height: 100px;
    width: 120px;
    max-width: 100%;
  }
  
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  
  
}