{{- $debug_enabled := $.Scratch.Get "debug_enabled" -}}
{{ if eq $.Site.Params.debug_enabled true }}

{{ $debugstyles := resources.Get "pancakes/scss/debug.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
{{ $debug_js := resources.Get "pancakes/js/pancakes_debug.js" | minify }}

<script type="text/javascript">
  fetchInject([
    '{{ $debugstyles.Permalink }}',
    '{{ $debug_js.Permalink }}'
  ]).then(() => {
        //console.log(`Loaded debugger css`);
  })
  </script>

{{/* <!--Add Debugger HTMl block--> */}}

{{ partial "site/pancakes/debug_bar.html" . }}

{{/* {{- block "debug_bar" . -}} */}}

{{/* {{- end -}} */}}
{{- end -}}

{{/* <!--enable debug--> */}}


<!--pancakes JS-->
<!-- <script src="js/pancakes_debug.js"></script> -->
<!-- <script src="js/navigation.js"></script> -->

