.exportYMLbox, .pb-dynamicDialogue {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  height: 500px;
  overflow: scroll;
  display: none;
}
.pb-dynamicDialogue textarea {
  min-width: 100%;
  min-height: 100%;
}
.exportYMLbox.active, .pb-dynamicDialogue.active {
  display: block;
}