{{- $section_tag := .global.page.Scratch.Get "section_tag" -}}
{{ $template_class := .global.page.Scratch.Get "section_class"}}
{{ $section_class := .global.page.Scratch.Get "page_uniqueid"}}
{{ $prefix := print "." $template_class ".p-" $section_class }}
{{ if or (.page.background_image) ( .page.background_color ) }}
    {{ $prefix }} {
        background-color: {{ .page.background_color | default "#ffffff" }};
        {{- if eq $section_tag "header" -}}
        z-index: 100;
        position: relative;
        {{- end -}}
        {{ if in .page.background_image "uploads" }}
        {{ $upload_image := resources.Get .page.background_image }}
        {{ $upload_image_resize := $upload_image.Resize "1920x q100" }}
        background-image: url({{ $upload_image_resize.Permalink }});
        {{ end }}
        {{ if in .page.background_image "http" }}
        background-image: url({{ .page.background_image }});
        {{ end }}
        background-repeat: no-repeat;
        background-size: cover;
    }
{{ end }}