<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  <!--use blocks-->
    <head>

        {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}

        <title>{{ block "title" . }}
            {{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title -}}
        {{ end }}</title>

        {{ range .AlternativeOutputFormats }}
            <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
        {{ end }}

        {{- block "critical" . }}{{ end -}}

    </head>
    {{- $clean_page_slug := replace .Slug "/" "" -}}
    <body class="{{ .Type | lower }}-{{ $clean_page_slug }}">
            <!--insert layout-->
            {{ block "main" . }}{{ end }}

        {{ block "footer" . }}{{ partial "site/footer.html" . }}{{ end }}

        {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}

    </body>

</html>