{{ define "main" }}
{{ $debug_enabled := $.Scratch.Get "debug_enabled" }}

<!--https://stackoverflow.com/questions/38930144/keep-input-value-after-refresh-page-->

<!--<p>Main menu:</p>
{{ range .Site.Menus.main }}
<li><a href="{{ .URL }}">{{ .Name }}</a></li>
{{ end }}-->
<!--section loop-->

{{ $clean_slug := replace .Params.slug "/" "" }}
{{ $page_slug := $clean_slug }}
{{ $page_hash := .UniqueID | urlize }}


<!--start the stack loop to return page sections-->
<!--check for any values in the stacks field type-->
<!--iterate through blocks, use if statement to find template, then set variable equal to template name-->
{{ if .Params.stacks }}
<!--use index to add a count to the range-->


{{ range $index, $stacks := (where .Params.stacks ".template" "!=" "custom-header") }}

<!--set an ID for each section so that we can reference it in the stylesheet-->

{{ $.Scratch.Set "section_index" $index | safeHTML }}

{{ $.Scratch.Set "section_template_name" .template }}
{{ $section_class := print "c-" $index "-" .template }}

{{ $.Scratch.Set "section_class" $section_class }}

  <!--sometimes we might manually set an ID in the ID field-->
  {{ if .id }}
    {{ $.Scratch.Set "section_id" .id}}
  <!--usually we won't so the section id should use the index to generate a unique name-->
  {{ else }}
    {{ $id := print "section-" $index }}
    {{ $.Scratch.Set "section_id" $id}}
  {{ end }}
<!--we set an id on each section instead of just the body class so that we can reference the styles for a part, which has a different page id-->
{{ $.Scratch.Set "page_hash" $page_hash }}

  {{ if and (in .template "select-part") (.part) }}
  <!--use scratch or a var to pass the template name. We have to do this since context changes in nested ranges-->
  <!--grab a page part if that field is selected within a block-->
  <!--a page part is a pre-built section in a post type called "Parts"-->
  <!--set the scratch value so we can pass this context to another context-->
  {{ $.Scratch.Set "part_exists" .part }}
  <!--get the part values from the other page-->
  <!--using where, we can constrain the range to only return pages within the parts section-->
  {{ range $index, $parts_stacks := where $.Site.Pages "Section" "parts" }}

  {{ $.Scratch.Set "page_hash" .UniqueID | urlize }} 
  <!--since it's a single stack reference the front matter using params instead of the block context "."-->
  <!--we need to compare the path in the select parts dropdown within our page block with the path we looked up in our range-->
  <!--we can then return the part with a matching file path to the path we selected in our dropdown-->
  <!--get the current page's file-->
    {{ $new_file_path := replace .File.Path "\\" "-" | safeHTML }}
    <!--sanitize the URL so that they use the same format and we can compare them-->
    {{ $new_file_path_clean := replace $new_file_path "/" "-" | safeHTML }}
    <!--our page part referenced in the block-->
    {{ $part_var := $.Scratch.Get "part_exists" }}
    <!--sanitize the name-->
    {{ $change_this_file := replace $part_var "/" "-" | safeHTML }}

    {{ $sanitize_this_link := replace $change_this_file "." "-" | safeHTML }}

    {{ $.Scratch.Set "part_preview_link" $sanitize_this_link }}

    <!--check if the page select part dropdown path equals the section path page file path-->
    {{ if eq $change_this_file $new_file_path_clean }}
      <!--if equal, return block values-->
      <!--this is the same as the normal block section style options-->
      <!--maybe include a section style file-->
      {{ range $index, $parts_newrange := .Params.stacks }}
      <!--change the class name based on the index of the stack within the part-->
      {{ $section_class := print "c-" $index "-" .template }}
      {{ $.Scratch.Set "section_class" $section_class }}
      <!--vars are page level so need to prefix params-->
      <!--use a header tag instead of section if it's a header-builder-->
      {{ if in .template "header-builder" }}
        {{ $.Scratch.Set "section_tag" "header" | safeHTML }}
      {{ else }}
        {{ $.Scratch.Set "section_tag" "section" | safeHTML }}
      {{ end }}
  
      {{ $section_tag := $.Scratch.Get "section_tag" }}
      
      {{ print "<" $section_tag | safeHTML }} id="{{ $.Scratch.Get "section_id" }}" data-section-name="{{ $.Scratch.Get "section_template_name" }}" class="padding-{{ .padding_top | default "none" | lower }}-top padding-{{ .padding_bottom | default "none" | lower}}-bottom{{ if eq .full_height_section true }} full-height{{ end }}{{ if .background_parallax }} background-parallax{{ end }} {{ $.Scratch.Get "section_class" }} p-{{ $.Scratch.Get "page_hash" }}">
{{ if eq $debug_enabled true }}
        {{ partial "sections/dbg-menu.html" (dict "page" . "global" $ "page_slug" $page_slug ) }}
{{ end }}  
        {{ partial "sections/build.html" (dict "page" . "global" $ "page_slug" $page_slug ) }}
        {{ print "</" $section_tag ">" | safeHTML }}
      {{ end }}
    {{ end }}<!--if file name equals-->
    
  {{ end }}<!--end parts stacks range-->

    <!--show nothing so we don't have an empty section-->
  {{ else }}<!--outer scope - if not in template options or select-part display normal block-->
  <!--use scratch or a var to pass the template name. We have to do this since context changes in nested ranges-->
  {{ if in .template "header-builder" }}
    {{ $.Scratch.Set "section_tag" "header" | safeHTML }}
  {{ else }}
    {{ $.Scratch.Set "section_tag" "section" | safeHTML }}
  {{ end }}
  
  {{ $section_tag := $.Scratch.Get "section_tag" }}

  {{ print "<" $section_tag | safeHTML }} id="{{ $.Scratch.Get "section_id" }}" data-section-name="{{ $.Scratch.Get "section_template_name" }}" class="padding-{{ .padding_top | default "none" | lower }}-top padding-{{ .padding_bottom | default "none" | lower}}-bottom{{ if eq .full_height_section true }} full-height{{ end }}{{ if .background_parallax }} background-parallax{{ end }} {{ $.Scratch.Get "section_class" }} p-{{ $.Scratch.Get "page_hash" }}">
{{ if eq $debug_enabled true }}
    {{ partial "sections/dbg-menu.html" (dict "page" . "global" $ "page_slug" $page_slug ) }}
{{ end }}
     
    {{ partial "sections/build.html" (dict "page" . "global" $ "page_slug" $page_slug "page_hash" $page_hash ) }}
  {{ print "</" $section_tag ">" | safeHTML }}
  
  {{ end }}<!--end if statement that checks templates-->
        
{{ end }}<!--end stacks range-->
        
{{ else }}<!--if no block within a stack-->

  {{ if eq .Params.layout "part-preview" }}
  <!--show debug page conditional info-->
  <div class="no-sections">
    <h1>This is just a preview of this Part</h1>
    <p>It's not indexed on Google :)</p>
  </div>
  {{ else }}
  <!--show info on blank page if no block is added-->
  <div class="no-sections">
    <h1>You need to add a section</h1>
    <p>Add a section to the page builder in your page editor.</p>
  </div>
  {{ end }}

{{ end }}<!-- end if blocks exist - section loop-->



{{ end }}