.elements-wrapper {
    width: 100%;
}
.h_c-center {
	-webkit-justify-content: center;
	justify-content: center;
}
.h_s-center {
	-webkit-justify-self: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}

.v_c-center {
	-webkit-align-items: center;
	align-items: center;
}
.v_s-center {
	-webkit-align-self: center;
  align-self: center;
}

.h_c-start {
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}
.h_s-start {
	-webkit-justify-self: flex-start;
	justify-self: flex-start;
}

.v_c-start {
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
.v_s-start {
	-webkit-align-self: flex-start;
	align-self: flex-start;
}

.h_c-end {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
.h_s-end {
	-webkit-justify-self: flex-end;
	justify-self: flex-end;
}

.v_c-end {
	-webkit-align-items: flex-end;
	align-items: flex-end;
}
.v_s-end {
	-webkit-align-self: flex-end;
	align-self: flex-end;
}

.h_c-space-between {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.h_c-space-around {
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.center-image {
  margin: 0 auto;
}