/* -------------------------------- 

Title: Accordion
Descr: Create stacked sections of content and allow the user to expand/collapse them 

-------------------------------- */ 

.editing--mode:root {
  --accordion-icon-size: 1em;
  --accordion-icon-stroke-width: 2px;
}

.pb--accordion__item {
  border: 0px solid var(--color-contrast-low);
  border-bottom-width: 1px;

  &:first-child {
    border-top-width: 1px;
  }
}

.pb--accordion__header {
  @include reset;
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-contrast-higher);

  &:hover {
    color: var(--color-primary);
  }
}

.pb--accordion__header-title {
  font-size: var(--text-md);
  text-align: left;
}

.pb--accordion__header-icon  {
  float: right; //flex fallback
  flex-shrink: 0;
  margin-right: 5px;
  display: none;
}

.pb--accordion__header-icon i { // arrow icon
  position: relative;
  width: var(--accordion-icon-size);
  height: var(--accordion-icon-size);
  display: block;
  will-change: transform;

  &::before, &::after {
    content:'';
    position: absolute;
    width: var(--accordion-icon-stroke-width);
    height: 80%;
    background: currentColor;
    top: 0;
    transform-origin: 50% 100%;
    will-change: transform;
    transition: transform 0.2s;
  }

  &::before {
    left: 50%;
    transform: rotate(-45deg);
  }

  &::after {
    left: calc(50% - var(--accordion-icon-stroke-width)/2);
    transform: rotate(45deg);
  }
}

.pb--accordion__item--is-open > .pb--accordion__header > .pb--accordion__header-icon i {
  &::before {
    transform: translateY(-80%) rotate(-135deg);
  }

  &::after {
    transform: translateY(-80%) rotate(135deg);
  }
}

.pb--accordion__header-icon .pb--icon { // replace arrow with custom icon
  width: var(--accordion-icon-size);
  height: var(--accordion-icon-size);
  color: inherit;
}

.pb--js {
  .pb--accordion__header-icon {
    display: block;
  }

  .pb--accordion__panel {
    display: none;
    overflow: hidden;
    will-change: height;
    transform: translateZ(0px);
  }

  .pb--accordion__item--is-open > .pb--accordion__panel {
    display: block;
  }
}