/* -------------------------------- 

Title: Full Screen Modal Window
Descr: A full screen modal window (⚠️ this component is a variation of the Modal Window component)

-------------------------------- */

.pb--modal--full-screen {
  .pb--modal__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
    border-radius: 0;
  }

  .pb--modal__header, .pb--modal__footer {
    flex-shrink: 0;
  }

  .pb--modal__body {
    flex-grow: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch; // smooth scroll on iOS
  }

  .pb--modal__footer {
    box-shadow: var(--shadow-sm);
  }
}