{{ $data := $.Site.Data.pb_classes }}

<ul data-animation="on" data-multi-items="off" class="accordion js-accordion">
    
          
            {{ $sample := $.Site.Data.pb_classes }}
      <li class="accordion__item accordion__item--is-open js-accordion__item">
        <button class="accordion__header" type="button">
          <span class="accordion__header-title">DESKTOP</span>
          <em aria-hidden="true" class="accordion__header-icon"><i></i></em>
        </button>
    
        <div class="accordion__panel js-accordion__panel">
          <div class="accordion__panel-content">
            <div data-pb-support-mode="desktop">
              
            {{ $mode := "desktop" }}
            {{ range $index, $value := $.Site.Data.pb_classes.desktop }}
            
            
            {{ if reflect.IsSlice $value }}
            {{ $title := $index }}
            {{ $range := slice $value }}
            
            {{ partial "pancakesBuilder/app/components/elements/checkbox.html" (dict "loop" $range "index" $index "mode" $mode "title" $title ) }}
            
            {{ end }}
            
            {{ end }}
            </div>
          </div>
        </div>
      </li>
      <li class="accordion__item accordion__item js-accordion__item">
        <button class="accordion__header" type="button">
          <span class="accordion__header-title">TABLET</span>
          <em aria-hidden="true" class="accordion__header-icon"><i></i></em>
        </button>
    
        <div class="accordion__panel js-accordion__panel">
          <div class="accordion__panel-content">
            <div data-pb-support-mode="tablet">
              
            {{ $mode := "tablet" }}
            {{ range $index, $value := $.Site.Data.pb_classes.tablet }}
            
            
            {{ if reflect.IsSlice $value }}
            {{ $title := $index }}
            
            {{ $range := slice $value }}
            
            {{ partial "pancakesBuilder/app/components/elements/checkbox.html" (dict "loop" $range "index" $index "mode" $mode "title" $title ) }}
            
            {{ end }}
            
            {{ end }}
            </div>
          </div>
        </div>
      </li>
      <li class="accordion__item accordion__item js-accordion__item">
        <button class="accordion__header" type="button">
          <span class="accordion__header-title">MOBILE</span>
          <em aria-hidden="true" class="accordion__header-icon"><i></i></em>
        </button>
    
        <div class="accordion__panel js-accordion__panel">
          <div class="accordion__panel-content">
            <div data-pb-support-mode="mobile">
              
            {{ $mode := "mobile" }}
            {{ range $index, $value := $.Site.Data.pb_classes.mobile }}
            
            
            {{ if reflect.IsSlice $value }}
            {{ $title := $index }}
            
            {{ $range := slice $value }}
            
            {{ partial "pancakesBuilder/app/components/elements/checkbox.html" (dict "loop" $range "index" $index "mode" $mode "title" $title ) }}
            
            {{ end }}
            
            {{ end }}
          </div>
        </div>
      </div>
    </li>
  
  </ul>
  <!-- <button class="btn btn--primary" aria-controls="modal2">Save</button> -->