{{ $data := $.Site.Data.pb_classes }}

<ul data-animation="on" data-multi-items="off" class="pb--accordion pb--js-accordion">
    
          
            {{ $sample := $.Site.Data.pb_classes }}
      <li class="pb--accordion__item pb--accordion__item--is-open pb--js-accordion__item">
        <button class="pb--accordion__header" type="button">
          <span class="pb--accordion__header-title">DESKTOP</span>
          <em aria-hidden="true" class="pb--accordion__header-icon"><i></i></em>
        </button>
    
        <div class="pb--accordion__panel pb--js-accordion__panel">
          <div class="pb--accordion__panel-content">
            <div data-pb-support-mode="desktop">
              
            {{ $deviceMode := "desktop" }}
            {{ range $index, $value := $.Site.Data.pb_classes.desktop }}
            
            
            {{ if reflect.IsSlice $value }}
            {{ $title := $index }}
            {{ $range := slice $value }}
            
            {{ partial "pancakesBuilder/app/components/elements/checkbox.html" (dict "loop" $range "index" $index "deviceMode" $deviceMode "title" $title ) }}
            
            {{ end }}
            
            {{ end }}
            </div>
          </div>
        </div>
      </li>
      <li class="pb--accordion__item pb--accordion__item pb--js-accordion__item">
        <button class="pb--accordion__header" type="button">
          <span class="pb--accordion__header-title">TABLET</span>
          <em aria-hidden="true" class="pb--accordion__header-icon"><i></i></em>
        </button>
    
        <div class="pb--accordion__panel pb--js-accordion__panel">
          <div class="pb--accordion__panel-content">
            <div data-pb-support-mode="tablet">
              
            {{ $deviceMode := "tablet" }}
            {{ range $index, $value := $.Site.Data.pb_classes.tablet }}
            
            
            {{ if reflect.IsSlice $value }}
            {{ $title := $index }}
            
            {{ $range := slice $value }}
            
            {{ partial "pancakesBuilder/app/components/elements/checkbox.html" (dict "loop" $range "index" $index "deviceMode" $deviceMode "title" $title ) }}
            
            {{ end }}
            
            {{ end }}
            </div>
          </div>
        </div>
      </li>
      <li class="pb--accordion__item pb--accordion__item pb--js-accordion__item">
        <button class="pb--accordion__header" type="button">
          <span class="pb--accordion__header-title">MOBILE</span>
          <em aria-hidden="true" class="pb--accordion__header-icon"><i></i></em>
        </button>
    
        <div class="pb--accordion__panel pb--js-accordion__panel">
          <div class="pb--accordion__panel-content">
            <div data-pb-support-mode="mobile">
              
            {{ $deviceMode := "mobile" }}
            {{ range $index, $value := $.Site.Data.pb_classes.mobile }}
            
            
            {{ if reflect.IsSlice $value }}
            {{ $title := $index }}
            
            {{ $range := slice $value }}
            
            {{ partial "pancakesBuilder/app/components/elements/checkbox.html" (dict "loop" $range "index" $index "deviceMode" $deviceMode "title" $title ) }}
            
            {{ end }}
            
            {{ end }}
          </div>
        </div>
      </div>
    </li>
  
  </ul>
  {{ range $index, $value := $.Site.Data.pb_classes.global }}
            
            
  {{ if reflect.IsSlice $value }}
  {{ $title := $index }}
  
  {{ $range := slice $value }}
  
  {{ partial "pancakesBuilder/app/components/elements/checkbox.html" (dict "loop" $range "index" $index "deviceMode" $deviceMode "title" $title ) }}
  
  {{ end }}
  
  {{ end }}
  <!-- <button class="btn btn--primary" aria-controls="modal2">Save</button> -->