{{ $type := "radio"}}

{{ $label := "Label"}}

{{ $value := "value" }}

{{ $supports := "global" }}

{{ $deviceMode := "desktop" }}

{{ $setAttribute := false }}
{{ $classes := "" }}

{{ $mode := "text" }}
{{ with .deviceMode }}
  {{ $deviceMode = . }}
{{ end }}

{{ $i := false }}
{{ with .index }}
  {{ $i = . }}
{{ end }}


{{ range .loop }}
{{ range $index, $item := . }}
{{ with .supports }}
  {{ $supports = . }}
{{ end }}
{{ with .classes }}
  {{ $classes = . }}
{{ end }}
{{ with .type }}
  {{ $type = . }}
{{ end }}
{{ with .set_attribute }}
  {{ $setAttribute = . }}
{{ end }}
{{ end }}
{{ end }}

<form pb-supports="{{ $supports }}">
    <label><strong>{{ .title }}</strong></label>
    <div>
      {{ if or (ne $type "select") }}
      <fieldset>
  
        <ul class="{{ $type }}-list pb--{{ $type }}-list--custom {{ $classes }}">
          
          {{ range .loop }}
          {{ range $index, $item := . }}

          {{ with .type }}
            {{ $type = . }}
          {{ end }}

          {{ with .mode }}
            {{ $mode = . }}
          {{ end }}
          
          {{ with .label }}
            {{ $label = . }}
          {{ end }}
          {{ $id := print $deviceMode "-" $type "-" $i "-" $index }}
          {{ if .value }}
            {{ $value = .value }}

          <li>
            <input type="{{ $type }}"{{ if eq $type "radio" }} name='radioButton'{{ end }} value="{{ $value }}" id="{{ $id }}"{{ if eq $type "button" }} aria-controls="pb--modal1" pb-editor-mode="{{ $mode }}"{{ end }}>
            <label for="{{ $id }}">{{ $label }}</label>
          </li>
          
          {{ end }}

          {{ end }}
          {{ end }}
        </ul>
      </fieldset>
      {{ end }}
      {{ if eq $type "select" }}
      {{ $id := print $deviceMode "-" $type "-" $i }}
      <select{{ with $setAttribute }} pb-set-attribute='{{ . }}'{{ end }}class="{{ $type }}-list {{ $type }}-list--custom {{ $classes }} pb--form-control" name="selectThis" id="{{ $id }}">
        {{ range .loop }}
        {{ range $index, $item := . }}
        {{ with .value }}
          {{ $value = . }}
        {{ end }}
        {{ with .label }}
          {{ $label = . }}
        {{ end }}
        
        {{ if .value }}
          <option value="{{ $value }}">{{ $label }}</option>
        {{ end }}

        {{ end }}
        {{ end }}
      </select>
      {{ end }}
    </div>
  </form>