{{ $type := "radio"}}

{{ $label := "Label"}}

{{ $value := "value" }}

{{ $i := false }}
{{ with .index }}
  {{ $i = . }}
{{ end }}
<form>
    <div class="margin-bottom--md">
      <fieldset>
  
        <ul class="{{ $type }}-list {{ $type }}-list--custom">
          
          {{ range .loop }}
          {{ range $index, $item := . }}

          {{ with .type }}
            {{ $type = . }}
          {{ end }}
          
          {{ with .label }}
            {{ $label = . }}
          {{ end }}
          {{ if .value }}
            {{ $value = .value }}
          <li>
            <input type="{{ $type }}"{{ if eq $type "radio" }} name='radioButton'{{ end }} value="{{ $value }}" id="{{ $type }}-{{ $i }}-{{ $index }}">
            <label for="{{ $type }}-{{ $i }}-{{ $index }}">{{ $label }}</label>
          </li>
          {{ end }}

          {{ end }}
          {{ end }}
        </ul>
      </fieldset>
    </div>
  </form>