{{ $type := "radio"}}
{{ $label := "Label"}}

<form>
    <div class="margin-bottom--md">
      <fieldset>
        
        <legend class="form-legend">Custom {{ $type }} Buttons</legend>
  
        <ul class="{{ $type }}-list {{ $type }}-list--custom">
  
          <li>
            <input type="{{ $type }}" name="radioButton" id="radio2">
            <label for="radio2">{{ $label }}</label>
          </li>

        </ul>
      </fieldset>
    </div>
  
    <div class="margin-bottom--md">
      <fieldset>
        <legend class="form-legend">Custom Checkboxes</legend>
  
        <div class="checkbox-list checkbox-list--custom">
          <div>
            <input type="checkbox" id="checkbox1" checked>
            <label for="checkbox1">Option 1</label>
          </div>
  
          <div>
            <input type="checkbox" id="checkbox2">
            <label for="checkbox2">Option 2</label>
          </div>
  
          <div>
            <input type="checkbox" id="checkbox3">
            <label for="checkbox3">Option 3</label>
          </div>
        </div>
      </fieldset>
    </div>
  </form>