<ul class="pb--radio-switch">
  <li class="pb--radio-switch__item">
    <input class="pb--radio-switch__input pb--sr-only" type="radio" name="radioButton" id="radio1" checked>
    <label class="pb--radio-switch__label" for="radio1">Monthly</label>
  </li>

  <li class="pb--radio-switch__item">
    <input class="pb--radio-switch__input pb--sr-only" type="radio" name="radioButton" id="radio2">
    <label class="pb--radio-switch__label" for="radio2">Yearly</label>
    <div aria-hidden="true" class="pb--radio-switch__marker"></div>
  </li>
</ul>